/JavaApplication/nbproject/private/
/JavaApplication/build/
/WebApplication/nbproject/private/
/WebApplication/build/
/WebApplicationTest/nbproject/private/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaFXPrograming/nbproject/private/
/RPi-LCD-JavaFXPrograming/dist/
/RPi-LCD-JavaFXPrograming/build/
/Personal/nbproject/private/
/Personal/dist/
/Personal/build/
/WebApplication/dist/
/Hardware/nbproject/private/
/Hardware/build/
/Hardware/dist/
/Network/nbproject/private/
/Network/build/
/Network/dist/
/SpringWebProgramming/target/
/IoTWebProgramming/target/
/SensingCarLocalWebControl/target/
/SensingCar/SensingCar/nbproject/private/
/SensingCar/SensingCar/dist/
/SensingCar/SensingCar/build/
/SensingCarPanelControl_semi/SensingCarPanelControl_semi/nbproject/private/
/SensingCarPanelControl_semi/SensingCarPanelControl_semi/build/
/SensingCarPanelControl_semi/SensingCarPanelControl_semi/dist/
/SensingCar_Semi/nbproject/private/