/JavaApplication/nbproject/private/
/JavaApplication/build/
/WebApplication/nbproject/private/
/WebApplication/build/
/WebApplicationTest/nbproject/private/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaFXPrograming/nbproject/private/
/RPi-LCD-JavaFXPrograming/dist/
/RPi-LCD-JavaFXPrograming/build/
/Personal/nbproject/private/
/Personal/dist/
/Personal/build/
/WebApplication/dist/
/Hardware/nbproject/private/
/Hardware/build/
/Hardware/dist/