#vbox1 {
    -fx-background-color: rgba(255,0,0,0.5); /* a: 투명도를 이야기한다. 1이면 불투명 0이면 투명*/
}
#vbox2 {
    -fx-background-color: linear-gradient(to bottom right, #000000, #FFFFFF); 
}
#vbox3 {
     -fx-background-radius: 50;
    -fx-background-color: radial-gradient( center 30% 30%, radius 50%, #FFFFFF, #000000);
}
#vbox4 {
    -fx-border-color: skyblue;
    -fx-background-image: url("images/icon.gif"); 
}
#vbox5 {
    -fx-border-color: skyblue;
    -fx-background-image: url("images/icon.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}